@font-face {
  font-family: Quicksand;
  src: url("/assets/font/Quicksand.ttf");
}
@font-face {
  font-family: EBGaramond;
  src: url("/assets/font/EBGaramond.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Quicksand;
  color: #404040;
}
body .pointer {
  cursor: pointer !important;
}

main {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

header {
  position: relative;
  min-height: 100vh;
  padding: 30px 75px;
  background-image: url("/assets/img/bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* The side navigation menu */
}
header nav a {
  text-decoration: none;
  color: #404040;
}
header nav .navbar-logo {
  color: black;
  font-size: 24px;
  font-weight: bold;
}
header nav .navbar-menu a {
  margin-right: 35px;
  transition: 0.3s;
}
header nav .navbar-menu a:last-child {
  margin-right: 0px;
}
header nav .navbar-menu a:hover {
  color: #646464;
}
header nav .navbar-menu a:focus {
  color: #191919;
}
header nav .btn-menu {
  display: none;
}
header nav .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
header nav .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
header nav .sidenav a:hover {
  color: #f1f1f1;
}
header nav .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
header .hero {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  padding-top: 150px;
}
header .hero .hero-left-section {
  padding-top: 10px;
  align-self: start;
}
header .hero .hero-left-section h1 {
  font-family: EBGaramond;
  color: #000;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 38px;
}
header .hero .hero-left-section p {
  font-size: 16px;
  line-height: 1.5rem;
}
header .hero .hero-left-section .btn-cta {
  margin-top: 40px;
  width: 150px;
  padding: 15px 10px;
  border: 1px solid #f8a876;
  border-radius: 25px;
  background-color: #f8a876;
  box-shadow: 2px 2px 5px rgba(108, 108, 108, 0.3);
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: white;
}
header .hero .hero-left-section .btn-cta:hover {
  transition: 300ms;
  cursor: pointer;
  background-color: #fdb68a;
  border: 1px solid #fdb68a;
  box-shadow: none;
}
header .hero .hero-left-section .accent-circle {
  z-index: 0;
  position: absolute;
  left: 0;
  bottom: 0;
}
header .hero .hero-right-section {
  position: relative;
  justify-self: end;
  align-self: start;
}
header .hero .hero-right-section .container-gif {
  position: absolute;
  right: 20px;
  z-index: 1;
  padding: 10px;
  border-radius: 5px;
  background-color: #FAFAFA;
}
header .hero .hero-right-section .hero-gif {
  height: 350px;
  width: 350px;
}
header .hero .hero-right-section .accent-squere {
  position: absolute;
  top: -35px;
  right: -10px;
  border: 2px solid rgba(129, 129, 129, 0.286);
  width: 320px;
  height: 360px;
}
@media screen and (max-width: 600px) {
  header {
    padding: 30px 30px 120px;
    background-image: unset;
    background-color: #ffffff;
  }
  header nav .navbar-menu {
    display: none;
  }
  header nav .btn-menu {
    display: block;
    border: none;
    background-color: transparent;
  }
  header nav .btn-menu svg {
    height: 23px;
    width: 23px;
  }
  header nav .btn-menu:hover {
    cursor: pointer;
  }
  header .hero {
    display: block;
    padding-top: 95px;
  }
  header .hero h1 {
    font-size: 32px;
  }
  header .hero p {
    font-size: 14px;
    line-height: 1rem;
  }
  header .hero .accent-circle {
    bottom: -30px !important;
    display: none;
  }
  header .hero .hero-right-section {
    display: none;
  }
}

.section-superiority {
  background-color: #F9F9F9;
  padding: 25px 75px;
}
.section-superiority .container-superiority {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.section-superiority .container-superiority .superiority-item .superiority-icon {
  display: flex;
  justify-content: center;
  padding-bottom: 12px;
}
.section-superiority .container-superiority .superiority-item h3 {
  color: #000;
  text-align: center;
  padding-bottom: 8px;
}
.section-superiority .container-superiority .superiority-item p {
  text-align: center;
}
.section-superiority .container-superiority :nth-child(2) {
  margin: 0 15px;
}
@media all and (max-width: 600px) {
  .section-superiority {
    width: 100%;
    overflow: scroll;
  }
  .section-superiority .container-superiority {
    flex-direction: column;
  }
  .section-superiority .container-superiority .superiority-item h3 {
    padding-bottom: 0;
  }
  .section-superiority .container-superiority :nth-child(2) {
    margin: 20px 0;
  }
}

.section-type {
  min-height: 70vh;
  padding: 75px 75px 110px;
  background-color: #FFF;
}
.section-type h2 {
  font-family: EBGaramond;
  font-size: 30px;
  text-align: center;
  color: #000;
  margin-bottom: 70px;
}
.section-type .container-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.section-type .container-type .card-type {
  width: 400px;
  border-radius: 6px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.section-type .container-type .card-type .card-image img {
  border-radius: 6px 6px 0 0;
  width: 100%;
  height: 250px;
}
.section-type .container-type .card-type .card-body {
  position: relative;
  padding: 10px 10px;
}
.section-type .container-type .card-type .card-body p.title {
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 5px 0;
}
.section-type .container-type .card-type .card-body p.description {
  line-height: 1.5rem;
  padding: 10px 0 15px;
}
@media all and (max-width: 600px) {
  .section-type {
    padding: 40px 30px;
  }
  .section-type h2 {
    margin-bottom: 40px;
  }
  .section-type .container-type .card-type {
    margin-right: 0;
    margin-bottom: 30px;
    width: 100%;
  }
}

.section-ask {
  padding: 130px 75px;
  background-color: gray;
  text-align: center;
  color: #FFF;
  background: url("/assets/img/estate.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.25);
  transform: translatez(0);
  -webkit-transform: translatez(0);
}
.section-ask h2 {
  font-family: EBGaramond;
  font-size: 35px;
}
.section-ask button {
  margin-top: 60px;
  border: none;
  border-radius: 25px;
  outline: none;
  width: 170px;
  padding: 15px 10px;
  background-color: #f8a876;
  box-shadow: 2px 2px 5px rgba(46, 45, 45, 0.3);
  color: #FFF;
  font-size: 15.5px;
  font-weight: bold;
  transition: 0.3s;
}
.section-ask button:hover {
  cursor: pointer;
  box-shadow: none;
}

.section-gallery {
  min-height: 70vh;
  padding: 70px 75px;
}
.section-gallery h2 {
  font-family: EBGaramond;
  font-size: 30px;
  text-align: center;
  color: #000;
  margin-bottom: 60px;
}
.section-gallery .image-container .gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-gallery .image-container .gallery a {
  padding: 5px;
  background-color: #F2F3F4;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 25px;
}
.section-gallery .image-container .gallery img {
  max-width: 400px;
  max-height: 320px;
  border-radius: 5px;
}
@media all and (max-width: 600px) {
  .section-gallery {
    padding: 40px 30px;
  }
  .section-gallery h2 {
    margin-bottom: 40px;
  }
  .section-gallery .image-container .gallery {
    justify-content: center;
  }
  .section-gallery .image-container .gallery img {
    width: 300px;
    height: 200px;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0 25px;
  min-height: 40vh;
  background-color: rgba(32, 32, 32, 0.9);
  text-align: center;
  color: #FFF;
}
footer .footer-container h2 {
  font-family: EBGaramond;
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}
footer .footer-container p {
  padding-top: 7px;
}
footer .footer-container .input-text {
  margin-top: 30px;
  margin-bottom: 30px;
}
footer .footer-container .input-text input,
footer .footer-container .input-text button {
  padding: 10px 7px;
  border-radius: 3px;
  border: 1px solid #FFF;
}
footer .footer-container .input-text input {
  width: 350px;
}
footer .footer-container .input-text button:hover {
  cursor: pointer;
}
footer .footer-container .btn-sosmed-container .btn-sosmed {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  outline: none;
  margin: 0 5px;
}
footer .footer-container .btn-sosmed-container .btn-sosmed i {
  color: #FFF;
}
footer .footer-container .btn-sosmed-container .btn-sosmed.btn-wa {
  background-color: #25D366;
}
footer .footer-container .btn-sosmed-container .btn-sosmed.btn-tele {
  background-color: #0088CC;
}
footer .footer-container .btn-sosmed-container .btn-sosmed:hover {
  cursor: pointer;
}
@media all and (max-width: 600px) {
  footer {
    overflow-x: hidden;
    padding-left: 30px;
    padding-right: 30px;
  }
  footer p {
    font-size: 14.5px;
  }
  footer button {
    margin-top: 10px;
  }
}

/* preloader */
.preloader {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  z-index: 99999;
  background: #fff;
}

.lds-ripple {
  display: inline-block;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.lds-ripple .lds-pos {
  position: absolute;
  border: 2px solid #2962FF;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.1, 0.5, 1) infinite;
          animation: lds-ripple 1s cubic-bezier(0, 0.1, 0.5, 1) infinite;
}

.lds-ripple .lds-pos:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.hidden {
  display: none;
}

@-webkit-keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
