.section-ask {
    padding: 130px 75px;
    background-color: gray;
    text-align: center;
    color: #FFF;
    background: url('/assets/img/estate.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .25);
    transform: translatez(0);
    -webkit-transform: translatez(0);

    h2 {
        font-family: EBGaramond;
        font-size: 35px;
    }

    button {
        margin-top: 60px;
        border: none;
        border-radius: 25px;
        outline: none;
        width: 170px;
        padding: 15px 10px;
        background-color: #f8a876;
        box-shadow: 2px 2px 5px rgba(46, 45, 45, 0.3);
        color: #FFF;
        font-size: 15.5px;
        font-weight: bold;
        transition: .3s;

        &:hover {
            cursor: pointer;
            box-shadow: none;
        }
    }
}