
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0 25px;
    min-height: 40vh;
    background-color: rgba(32, 32, 32, 0.900);
    text-align: center;
    color: #FFF;

    .footer-container {
        h2 {
            font-family: EBGaramond;
            font-size: 30px;
            text-align: center;
            margin-bottom: 15px;
        }

        p {
            padding-top: 7px;
        }

        .input-text {
            margin-top: 30px;
            margin-bottom: 30px;

            input,
            button {
                padding: 10px 7px;
                border-radius: 3px;
                border: 1px solid #FFF;
            }

            input {
                width: 350px;
            }

            button {
                &:hover {
                    cursor: pointer;
                }
            }
        }

        .btn-sosmed-container {
            .btn-sosmed {
                display: inline-block;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                border: none;
                outline: none;
                margin: 0 5px;

                i {
                    color: #FFF;
                }

                &.btn-wa {
                    background-color: #25D366;
                }

                &.btn-tele {
                    background-color: #0088CC;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    @media all and (max-width:600px) {
        overflow-x: hidden;
        padding-left: 30px;
        padding-right: 30px;

        p {
            font-size: 14.5px;
        }

        button {
            margin-top: 10px;
        }
    }
}