.section-gallery {
    min-height: 70vh;
    padding: 70px 75px;

    h2 {
        font-family: EBGaramond;
        font-size: 30px;
        text-align: center;
        color: #000;

        margin-bottom: 60px;
    }

    .image-container {
        .gallery {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            a {
                padding: 5px;
                background-color: #F2F3F4;
                box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                margin-bottom: 25px;
            }

            img {
                max-width: 400px;
                max-height: 320px;
                border-radius: 5px;
            }
        }
    }

    @media all and (max-width:600px) {
        padding: 40px 30px;

        h2 {
            margin-bottom: 40px;
        }

        .image-container {
            .gallery {
                justify-content: center;

                img {
                    width: 300px;
                    height: 200px;
                }
            }
        }
    }
}