header {
    position: relative;

    min-height: 100vh;
    padding: 30px 75px;
    background-image: url('/assets/img/bg1.png');
    background-repeat: no-repeat;
    background-size: cover;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            text-decoration: none;
            color: $base-color-text;
        }

        .navbar-logo {
            color: black;
            font-size: 24px;
            font-weight: bold;
        }

        .navbar-menu {
            a {
                margin-right: 35px;
                transition: .3s;

                &:last-child {
                    margin-right: 0px;
                }

                &:hover {
                    color: rgb(100, 100, 100);
                }

                &:focus {
                    color: rgb(25, 25, 25)
                }
            }
        }

        .btn-menu {
            display: none;
        }

        /* The side navigation menu */
        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 60px;
            transition: 0.5s;
        }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 18px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

    }

    .hero {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        padding-top: 150px;

        .hero-left-section {
            padding-top: 10px;
            align-self: start;

            h1 {
                font-family: EBGaramond;
                color: #000;
                font-weight: bold;
                margin-bottom: 30px;
                font-size: 38px;
            }

            p {
                font-size: 16px;
                line-height: 1.5rem;
            }

            .btn-cta {
                margin-top: 40px;
                width: 150px;
                padding: 15px 10px;

                border: 1px solid #f8a876;
                border-radius: 25px;

                background-color: #f8a876;
                box-shadow: 2px 2px 5px rgba(108, 108, 108, 0.3);

                font-size: 15px;
                font-weight: bold;
                text-align: center;
                color: rgb(255, 255, 255);

                &:hover {
                    transition: 300ms;

                    cursor: pointer;

                    background-color: #fdb68a;
                    border: 1px solid #fdb68a;
                    box-shadow: none;
                }
            }

            .accent-circle {
                z-index: 0;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }

        .hero-right-section {
            position: relative;
            justify-self: end;
            align-self: start;

            .container-gif {
                position: absolute;
                right: 20px;
                z-index: 1;

                padding: 10px;
                border-radius: 5px;
                background-color: #FAFAFA;
            }

            .hero-gif {
                height: 350px;
                width: 350px;
            }

            .accent-squere {
                position: absolute;
                top: -35px;
                right: -10px;
                border: 2px solid rgba(129, 129, 129, 0.286);
                width: 320px;
                height: 360px;
            }
        }
    }

    @media screen and (max-width: 600px) {
        padding: 30px 30px 120px;
        background-image: unset;
        background-color: #ffffff;

        nav {
            .navbar-menu {
                display: none;
            }

            .btn-menu {
                display: block;
                border: none;
                background-color: transparent;

                svg {
                    height: 23px;
                    width: 23px;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .hero {
            display: block;
            padding-top: 95px;

            h1 {
                font-size: 32px;
            }

            p {
                font-size: 14px;
                line-height: 1rem;
            }

            .accent-circle {
                bottom: -30px !important;
                display: none;
            }

            .hero-right-section {
                display: none;
            }
        }
    }
}