.section-superiority {
    background-color: #F9F9F9;
    padding: 25px 75px;

    .container-superiority {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .superiority-item {
            .superiority-icon {
                display: flex;
                justify-content: center;
                padding-bottom: 12px;
            }

            h3 {
                color: #000;
                text-align: center;
                padding-bottom: 8px;
            }

            p {
                text-align: center;
            }
        }

        :nth-child(2) {
            margin: 0 15px;
        }
    }

    @media all and (max-width:600px) {
        width: 100%;
        overflow: scroll;

        .container-superiority {
            flex-direction: column;

            .superiority-item {
                h3 {
                    padding-bottom: 0;
                }
            }

            :nth-child(2) {
                margin: 20px 0;
            }
        }
    }
}