.section-type {
    min-height: 70vh;
    padding: 75px 75px 110px;
    background-color: #FFF;

    h2 {
        font-family: EBGaramond;
        font-size: 30px;
        text-align: center;
        color: #000;

        margin-bottom: 70px;
    }

    .container-type {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .card-type {
            width: 400px;
            border-radius: 6px;
            box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
            margin-right: 20px;
            margin-bottom: 20px;

            .card-image {
                img {
                    border-radius: 6px 6px 0 0;
                    width: 100%;
                    height: 250px;
                }
            }

            .card-body {
                position: relative;
                padding: 10px 10px;

                p.title {
                    color: #000;
                    font-weight: bold;
                    font-size: 1.2rem;
                    margin: 5px 0;
                }

                p.description {
                    line-height: 1.5rem;
                    padding: 10px 0 15px;
                }
            }
        }
    }

    @media all and (max-width:600px) {
        padding: 40px 30px;

        h2 {
            margin-bottom: 40px;
        }

        .container-type {
            .card-type {
                margin-right: 0;
                margin-bottom: 30px;
                width: 100%;
            }
        }
    }
}