@font-face {
    font-family: Quicksand;
    src: url('/assets/font/Quicksand.ttf');
}

@font-face {
    font-family: EBGaramond;
    src: url('/assets/font/EBGaramond.ttf');
}

$base-color-text: rgb(64, 64, 64);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Quicksand;
    color: $base-color-text;

    .pointer {
        cursor: pointer !important;
    }
}


main {
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

@import 'section/header.scss';
@import 'section/superiority.scss';
@import 'section/type.scss';
@import 'section/ask.scss';
@import 'section/gallery.scss';
@import 'section/footer.scss';


/* preloader */
.preloader {
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    z-index: 99999;
    background: #fff
}

.lds-ripple {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.lds-ripple .lds-pos {
    position: absolute;
    border: 2px solid #2962FF;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, .1, .5, 1) infinite
}

.lds-ripple .lds-pos:nth-child(2) {
    animation-delay: -.5s
}

.hidden {
    display: none;
}

@keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 0
    }

    5% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1
    }

    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0
    }
}